<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>calendar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="calendar-container">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">calendar</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Wrapper para centralizar -->
  <div class="calendar-wrapper">
    <ion-datetime
      value="2023-11-02T01:22:00"
      [formatOptions]="{
        time: { hour: '2-digit', minute: '2-digit' },
        date: { day: '2-digit', month: 'long' }
      }"
    ></ion-datetime>
  </div>
</ion-content>