.button{
  display: flex;
  justify-content: center;
}

ion-button {
  width: auto;
  min-width: 50px;
}

ion-item-options {
  display: flex;
  justify-content: center; /* Centraliza os botões horizontalmente */
  align-items: center;     /* Centraliza os botões verticalmente */
  width: 100%;             /* Garante que ocupe toda a largura disponível */
}

ion-item-option {
  margin: 0 10px; /* Adiciona espaço entre os botões */
  display: inline-flex; /* Garantir que os botões não se expandam */
}